
@{
    Layout = null;
}

<!-- Menu -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="profile-image">
                    <img class="img-xs rounded-circle" src="/assets/images/faces/face8.jpg" alt="profile image">
                    <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                    <p class="profile-name">Allen Moreno</p>
                    <p class="designation">Premium user</p>
                </div>
            </a>
        </li>
        <li class="nav-item nav-category">Main Menu</li>
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="menu-icon typcn typcn-document-text"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="MenuFacturacion">
                <i class="menu-icon typcn typcn-coffee"></i>
                <span class="menu-title">Facturación</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Facturacion")">Buscar Factura</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("GenerarFactura", "Facturacion")">Generar Factura</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AuditarFactura", "Facturacion")">Auditar Factura</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Cancelaciones", "Facturacion")">Cancelaciones</a>
                    </li>
                </ul>
            </div>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" href="pages/forms/basic_elements.html">
                <i class="menu-icon typcn typcn-shopping-bag"></i>
                <span class="menu-title">Form elements</span>
            </a>
        </li>*@
    </ul>
</nav>


<!-- jquery:js -->
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")

<script type="text/javascript">

    var CountMenu = 0;

    $("#MenuFacturacion").click(function () {
        if (CountMenu == 0) {
            $("#ui-basic").addClass("show");
            CountMenu = 1;
        } else {
            $("#ui-basic").removeClass("show");
            CountMenu = 0;
        }
        
    });

    

</script>